.flex-row-center{
	display: flex;
	justify-content: center;
	align-items: center;
    @media (max-width: 991px){
        display: block;
    }
	& + .flex-row-center{
		margin-top: 100px;
	}
    .img-cont{        
        @media (max-width: 991px){
            padding-bottom: 30px;
        }		
    }
	&:nth-child(odd){
		.text-cont{
			padding-right: 45px;
			order: 1;	
            @media (max-width: 991px){
                padding-right: 15px;
            }		
		}
		.img-cont{
			order: 2;
		}
	}
	&:nth-child(even){
		.text-cont{
			padding-left: 45px;
			order: 2;
            @media (max-width: 991px){
                padding-left: 15px;
            }
		}
		.img-cont{
			order: 1;
		}
	}
	
	&.quote-box{
		.text-cont{
			padding-right: 35px;
            @media (max-width: 991px){
                padding-right: 15px;
            }		
		}
	}
	
	&.entity-box{
		background: #f0f0f0;          
        @media (max-width: 991px){
            max-width: 570px;
            margin-left: auto;
            margin-right: auto;
        }
		.img-cont{
			padding: 0;
			width: calc(50% - 15px);            
            @media (max-width: 991px){
                width: 100%;
                max-width: 570px;
            }
		}
		.text-cont{
			padding: 60px;
			width: calc(50% + 15px);            
            @media (max-width: 991px){
                width: 100%;
                max-width: 570px;
            }
		}
	}
	
	&.civil-works-box{
		.img-cont{
			order: 1;
		}
		.text-cont{
			order: 2;
			padding-right: 0;
			padding-left: 45px;
		}
		
		.owl-dots{
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			
		}
		.owl-dot{
			width: 15px;
			height: 15px;
			border: 1px solid #fff;
			float: left;
			border-radius: 100%;
			@include transition;
			& + .owl-dot{
				margin-left: 8px;
			}
			&.active{
				background: #fff;
			}
		}
	}
}

.quote{
	background-color: $blue1;
	padding-top: 25px;
	padding-left: 60px;  
	padding-right: 60px!important;
	padding-bottom: 100px;
	text-align: center;
	img{
		margin-bottom: 25px;
	}  
	p{
		color: #ffffff;
		font-size: 18px;
	}
}

.our-clients{
	background: $blue1;
	padding: 40px 0;
}

.client-logo{
	display: inline-block;
	line-height: 98px;
    img{
        max-width: 100%;
    }
}

.accordion {
	margin: 0 0 3rem;
	padding: 0;
	border: none!important;          
    @media (max-width: 991px){
        max-width: 570px;
        margin: 0 auto;
    }
	.panel {
		border: 0 solid transparent;
		border-bottom: 2px solid #ffffff;
		box-shadow: none;
		margin-top: 0!important;
	}
	.panel-body {
		padding: 0;
	}
	.panel-default > .panel-heading {
		background-color: transparent;
		border-color: transparent;
		padding: 0;
		border-bottom: 0 solid transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.panel-heading a {
		color: #ffffff;
		background-color: #464646;
		border: 1px solid #464646;
		font-weight: 400;
		vertical-align: middle;
		text-decoration: none;
		margin: 0;
		font-size: 1.2rem;
		display: block;
		padding-top: 1.3rem;
		padding-right: 40px;
		padding-bottom: 1.3rem;
		padding-left: 60px;
		text-transform: uppercase;
		&.collapsed {
			background-color: #464646;
			border-color: #464646;
			color: #ffffff;
			&:hover {
				color: #ffffff;
				background: #464646;
				border-color: #464646;
			}
		}
	}
	&.panel-group .panel-heading + .panel-collapse > .panel-body {
		border: 0 solid transparent;
	}
	&.accordion-icon .panel-heading a {
		&:before {
			display: inline-block;
			font-size: inherit;
			text-rendering: auto;
			font: normal normal normal 1rem/1 FontAwesome;
			content: "\f068";
			margin-right: 0;
			float: right;
		}
		&.collapsed:before {
			content: "\f067";
		}
	}
}

.efficiency-images{
	.gallery-item{
		padding: 7.5px;
	}
	img{
		width: 100%;
	}
}

.efficiency-texts{
	padding-top: 110px;
}