.call-to-action{
    padding: 120px 0 130px;
    background: url(../images/c2a.jpg) no-repeat scroll 0 0;
    background-size: cover;
    h2{
        margin-bottom: 20px;
        color: #fff;
        text-shadow: 0 0 15px #666;
        @media (max-width: 991px){
            font-size: 36px;
        }
    }
    
    &.c2a2{
        background-image: url(../images/c2a2.jpg);
    }
}