.calculator-section{
    padding: 100px 0 175px;
    background:url(../images/calc.jpg) repeat scroll center bottom;
}

.calc-form{
    .form-control{
        margin-bottom: 30px;
        line-height: 45px;
        height: 45px;
        background: $smoke;
        border: none;
        box-shadow: none;
        font-family: $font;
        font-size: 13px;
        color: transparentize($dark1, 0.4);
    }
    option{
    }
    .btn + .btn{
        margin-left: 12px;
    }
}