.carousels-2col{
    h5{
        text-transform: uppercase;
    }
}

.awards-carousel-col{
    padding-top: 40px;
    @media (max-width: 991px){
        padding-bottom: 60px;
    }
    h5{
        margin-bottom: 35px;
        @media (max-width: 991px){
            text-align: center;
        }
    }
}

.awards-carousel{
    max-width: 430px;
    @media (max-width: 1199px){
        max-width: 350px;
    }
    @media (max-width: 991px){
        
        margin: 0 auto;
    }
    .item{
        text-align: center;
        img{
            width: auto;
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
        }
        a{
            color: #fff;
            font-size: 16px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: transparentize($dark1, 0.48);
            opacity: 0;
            transform: scaleY(0);
            transform-origin: center;
        }
    }
    .item-inner{
        position: relative;
        width: 200px;
        height: 167px;
        line-height: 167px;
        border: 1px solid $dark1;
        @media (max-width: 1199px){
            width: 160px;
            height: 120px;
            line-height: 118px;
        }
        @media (max-width: 479px){
            width: 130px;
            height: 100px;
            line-height: 98px;
        }
        &:hover,&:focus{
            a{                
                transform: scaleY(1);
                opacity: 1;
            }
        }
    }
    
    .owl-dots{
        display: table;
        margin-top: 23px;
    }
    
    .owl-dot{
        width: 16px;
        height: 16px;
        border: 1px solid  $dark1;
        display: block;
        border-radius: 14px;
        float: left;
        @include transition;
        &+ .owl-dot{
            margin-left: 5px;
        }
        &.active{
            border-width: 8px;
        }
    }
	
	& + .btn{
		margin-top: -30px;
		margin-right: 125px;
		float: right;
        @media (max-width: 991px){
            margin: 15px auto 0;
            float: none;
            display: table;
        }
	}
}

.design-carousel{
    position: relative;
    @media (max-width: 991px){
        display: table;
        max-width: 585px;
        margin: 0 auto;
    }
    .item{
        img{
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .owl-dots{
        display: table;
        position: absolute;
        bottom: 50px;
        right: 0;
        @media (max-width: 991px){
            right: 50%;
            transform: translateX(50%);
        }
    }
    
    .owl-dot{
        width: 16px;
        height: 16px;
        border: 1px solid  $dark1;
        display: block;
        border-radius: 14px;
        float: left;
        @include transition;
        &+ .owl-dot{
            margin-left: 5px;
        }
        &.active{
            border-width: 8px;
        }
    }
}

.design-carousel-col{
    h5{
        position: absolute;
        top: 40px;
        right: 15px;
        z-index: 2;
        
        @media (max-width: 991px){
            position: relative;
            top: auto;
            right: auto;
            text-align: center;
        }
    }
}

.award-listing{
	padding: 15px;
    @media (max-width: 767px){
        margin: 0 auto;
        max-width: 400px;
    }
    a{
        display: block;
    }
    img{
        max-width: 100%;
    }
}

.plyr{
	margin: 55px 0;
}

.plyr__play-large{
	width: 126px;
	height: 126px;
	background: #fff;
	text-align: center;
	border: none;
	color: $blue2;
    @media (max-width: 767px){
        width: 76px;
        height: 76px;
    }
	svg{
		display: inline-block;
		width: 30px;
		height: 30px;
        @media (max-width: 767px){
            width: 26px;
            height: 26px;
        }
	}
}