.cpage-heading{
	margin-bottom: 40px;
}

.career-sidebar{
    @media (max-width: 767px){
        margin-bottom: 40px;
    }
}

.widget-career{
	margin-top: 20px;
	.widget-title{
		font-size: 16px;
		font-family: $font;
		font-weight: bold;
		color: $dark1;
		margin-bottom: 12px;
	}
}

.cs-select{
	font-size: 12px;
	font-family: $font2;
	font-weight: bold;
	border: 1px solid $dark1;
	box-shadow: none;
	line-height: 2;
}

.cs-checkbox{
	& + label{
		width: 50%;
		float: left;
		margin-bottom: 10px;
		font-family: $font2;
		font-size: 16px;
		line-height: 1;          
        @media (max-width: 991px){
            width: 100%;
        }
		&:before{
			width: 16px;
			height: 16px;
			float: left;
			content: '';
			font-family: "FontAwesome";
			font-size: 10px;
			line-height: 14px;
			border: 1px solid $dark1;
			text-align: center;
			border-radius: 3px;
			margin-right: 7px;
		}
	}
	&:checked + label{
		&:before{
			content: "\f00c";
			border-color: $blue1;
			background: $blue1;
			color: #fff;
		}
	}
}

.job-loop{
	@media (min-width: 1025px){
		padding-right: 45px;
	}
}

.job-listing{
	border: 1px solid $dark1;
	border-radius: 5px;
	padding: 25px 42px;
	background: #fff;
	@include transition;
	& + .job-listing{
		margin-top: 30px;
	}
	
	h6{
		margin-bottom: 5px;
	}
	
	.btn{
		min-width: auto;
		margin-top: 5px;
	}
	&:hover,&:focus{
		border-color: #fff;
  		box-shadow: 0px 0px 30.08px 1.92px rgba(0, 0, 0, 0.13);
	}
}

.job-pagination{
	margin-top: 40px;
	li{
		float: left;
		& + li{
			margin-left: 7px;
			text-align: center;
		}		
		a{
			background: #f0f0f0;
			display: block;
			color: $dark1;
			padding: 0 15px;
			line-height: 30px;
			font-size: 13px;
			font-family: $font;
			text-transform: capitalize;
			&:hover,&:focus{
				background: $blue1;
				color: #fff;
			}
		}
		&:first-child, &:last-child{
			a{
				min-width: 73px;
			}
		}
		&.active{
			a{
				background: $blue1;
				color: #fff;
			}
		}
	}
}

.single-career{
	p{
		margin-bottom: 20px;
		&.mb5{
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}
	ol,ul{
		margin-top: 30px;
		margin-bottom: 25px;
		font-size: 15px;
		font-family: $font2;
		line-height: 1.6;
		color: $dark1;
		padding-left: 20px;
	}
	ul{
		padding-left: 0;
	}
	
	.job-meta{
		display: table;
		margin: 0 auto 55px;
  		box-shadow: 0px 0px 6.58px 0.42px rgba(0, 0, 0, 0.13);
		background: #fff;
		li{
			float: left;
            @media (max-width: 767px){
                float: none;
            }
			& + li{
				border-left: 1px solid transparentize(#000, 0.5);
                @media (max-width: 767px){
                    border-left: none;
                    border-top: 1px solid transparentize(#000, 0.9);
                }
			}
			a{
				padding: 0 20px;
				line-height: 60px;
				font-size: 15px;
				font-family: $font;
				font-weight: bold;
				color: $dark1;
				i{
					margin-right: 7px;
				}
				&:hover,&:focus{
					color: #fff;
					background: $blue1;
				}
			}
		}
	}
}

.caction-btns{
	margin-top: 30px;
	.btn + .btn{
		float: right;
	}
    .btn{
        @media (max-width: 479px){
            padding: 0 14px;
        }
    }
}

#mapBox{
	height: 350px;
}

.contact-mlist{
	margin-top: 35px;
	.media + .media{
		margin-top: 20px;
	}
	.media-left{
		padding-right: 20px;
	}
	.media-object{
		width: 50px;
		line-height: 46px;
		border: 2px solid $dark2;
		text-align: center;
		border-radius: 50%;
		font-size: 18px;
	}
	.media-body{
		& , a{
			font-size: 15px;
			line-height: 1.6;
			font-family: $font2;
			font-weight: 600;
			color: $dark2;
		}
	}
}

.contact-informations{
	overflow: hidden;
}

.contact-form{
	margin: 0 0 -30px;
	background: #fff;
	box-shadow: 0px 0px 42.78px 3.22px rgba(0, 0, 0, 0.1);
	padding: 55px;
	position: relative;
	z-index: 1;
    @media (max-width: 767px){
        margin-bottom: 40px;
        margin-top: 40px;
    }
	h6{
		margin-bottom: 30px;
	}
	
	.form-control{
		padding: 10px 15px;
		height: auto;
		box-shadow: none;
		border: 1px solid $dark1;
		margin-bottom: 20px;
	}
	
	.btn{
		i{
			margin-left: 10px;
		}
	}
}