.site-footer{
    padding: 40px 0 55px;
}

.footer-sidebar{    
    margin-top: 13px;
    margin-bottom: 20px;
}

.widget-footer{
    padding: 15px;
    @media (max-width: 767px){ 
        margin: 0 auto;
        max-width: 400px;
    }
    .widget-title{
        margin-bottom: 12px;
    }
    
    .media{
        font-size: 15px;
        line-height: 1.6;
        font-family: $font2;
        font-weight: 700;
        & + .media{
            margin-top: 10px;
        }
    }
    .media-left{
        i{
            width: 10px;
            font-size: 11px;
        }
    }
    
    .menu{
        li{
            a{
                padding: 0;
                font-size: 15px;
                line-height: 1.8;
                color: $dark3;
                &:hover{
                    color: $dark1;
                    background: none;
                }
            }
        }
    }
}

.subscribe-form{
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    margin-bottom: 38px;
    .form-control{
        height: 35px;
        border: none;
        box-shadow: none;
        background: none;
    }
    .input-group-addon{
        background: none;
        padding: 0;
        border: none;
    }
    .btn{
        width: 48px;
        height: 35px;
        min-width: auto;
        padding: 0 10px;
        border: none;
        border-radius: 5px 4px 4px 5px;
        background: #2d2d2d;
        color: #fff;
    }
}
    
.social-links{
    margin: 0;
    li{
        & + li{
            margin-left: 5px;
        }
        a{
            font-size: 18px;
            color: $dark1;
            padding: 0;
            line-height: 1;
            &:hover,&:focus{
                color: $blue1;
                background: none;
            }
        }
    }
}

.copyrights-row{
    margin: 0;
    border-top: 2px solid $dark3;
    padding-top: 25px;
    color: $dark3;
    font-size: 12px;
    font-family: $font2;
}

.footer-logo{
    @media (max-width: 767px){
        text-align: center;
    }
    a{
        display: inline-block;
    }
}