.navbar{
    background: none;
    border: none;
    margin: 0;
    height: auto;
    padding: 30px 0;
    @include transition;
    .navbar-header{
        
        .navbar-toggle{
            border-radius: 0;
            &[aria-expanded="false"]{
                border: 2px solid  $dark1;
                background: none;
            }
            &[aria-expanded="true"]{
                background: $dark1;
                border-color: $dark1;
                span{
                    background: #fff;
                }
            }
        }
        .navbar-brand{
            padding: 0 15px;
            height: auto;
        }
    }
    
    .navbar-collapse{
        @media (max-width: 767px){
            background: #fff;
            border: none;
        }
    }
    
    .navbar-nav{
        li{
            padding: 15px 20px;
            @media (max-width: 991px){
                padding: 15px;
            }
            @media (max-width: 767px){
                padding: 5px 15px;
                text-align: center;
            }
            a{
                font-size: 15px;
                font-family: $font;
                color: $dark1;
                line-height: 20px;
                padding: 0;
                &:before,&:after{
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 0;
                    height: 2px;
                    background: $dark1;
                }
                &:hover{
                    background: none;
                    &:before,&:after{
                        width: 100%;
                    }
                }
            }
            &.active{
                a{
                    background: none;
                    &:before,&:after{
                        width: 100%;
                    }
                    &:hover,&:focus{
                        background: none;
                        &:before,&:after{
                            width: 70%;
                        }
                    }
                }
            }
            .dropdown-menu{
                padding: 8px 0;
                border-radius: 4px;
                border: none;
				@include transition;
				@media (min-width: 768px){
					display: block;
					transform: scale(1,0);
					transform-origin: top;
				}
                li{
                    padding: 0;
                    a{
                        line-height: 35px;
                        padding: 0 15px;
                        font-size: 14px;
                        &:before,&:after{
                            display: none;
                        }
                        &:hover,&:focus{
                            background: $smoke;
                        }
                    }
                }
            }
            &.open,&:hover,&:focus{
                &>a{
                    background: none;
                    &:hover,&:focus{
                        background: none;
                    }
                    &:before,&:after{
                        width: 100%;
                    }
                }
				.dropdown-menu{
					transform: scale(1,1);
				}
            }
        }
    }
    
    .search-nav-mob{
        margin: 0;
        li{
            padding: 15px;
        }
    }
    
    &.affix{
        background: #fff;
        padding: 10px 0;
        box-shadow: 0 0 5px $dark3;
    }
}

#search-modal{
}

.search-popup-form{
    max-width: 550px;
    margin: 0 auto;
    border-bottom: 1px solid $dark1;
    .form-control{
        font-size: 46px;
        color: $dark1;
        font-family: $font;
        height: 50px;
        padding: 0;
        font-weight: bold;
        background: none;
        border: none;
        box-shadow: none;
        border-radius: 0;
        &:focus{
            font-size: 46px;
        }
        @input placeholder{
            opacity: 0.2;
            color: $dark1;
        }
    }
    .input-group-addon{
        border: none;
        padding: 0;
        background: none;
        button{
            background: none;
            padding: 0;
            border: none;
            font-size: 40px;
            color: $dark1;
        }
    }
}

.mfp-inline-holder{
    background: $smoke;
}

.search-modal-dismiss{
    position: fixed;
    top: 40px;
    right: 50px;
    font-size: 30px;
    color: $dark1;
}