.page-header{
    padding: 160px 0 50px;
    background: url(../images/page-cover.jpg) no-repeat fixed center center;
    background-size: cover;
}

.page-contents{
	padding: 95px 0;
	margin: 0;
	&.pb0{
		padding-bottom: 0;
	}
}