.portfolio-section{
    
}

.portfolio-gallery{    
    @media (max-width: 767px){        
        max-width: 400px;
        margin: 0 auto;
    }
}

.portfolio-item{
    padding: 15px;
    position: relative;
    text-align: center;
    @media (max-width: 767px){        
        width: 100%;
    }
    img{
        max-width: 100%;
    }
    .hover-box{
        top: 45px;
        right: 45px;
        bottom: 45px;
        left: 45px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: transparentize($dark1, 0.1);
        color: #fff;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: center;
        @include transition;
        a{
            width: 40px;
            border: 2px solid #fff;
            line-height: 36px;
            font-size: 18px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 auto;
            color: #fff;
            &:hover,&:focus{
                color: $blue1;
                border-color: $blue1;
            }
        }
    }
    &:hover,&:focus{
        .hover-box{
            transform: scaleY(1);
            opacity: 1;
        }
    }
}

.portfolio-c2a{
    &:before{
        position: absolute;
        content: '';
        display: block;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        border-radius: 4px;
        border: 1px solid $dark1;
        @media (max-width: 767px){        
            display: none;
        }
    }
    .btn{
        margin-top: calc(36% - 23px);
        margin-bottom: calc(36% - 22px);
        position: relative;
        z-index: 1;
        @media (max-width: 767px){ 
            margin: 0 auto;
        }
    }
}

.portfolio-filter{
    display: table;
    margin: 20px auto;
    li{
        padding: 0 15px;
        margin: 2px 0;
        line-height: 40px;
        cursor: pointer;
        border: 1px solid $dark1;
        color: $dark1;
        font-family: $font;
        font-size: 15px;
        @media (max-width: 767px){
            margin: 2px;
        }
        & + li{
            margin-left: 5px;
            @media (max-width: 767px){
                margin-left: 2px;
            }
        }
        &.active{
            background: $dark1;
            color: #fff;
        }
    }
}