.m0{
    margin: 0;
}

a, .btn, button{
	outline: none;
	border-radius: 0;
	@include transition;
	&:before,&:after{
		@include transition;
	}
	&:hover,&:focus{
		outline: none;
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: $font;
    font-weight: bold;
    margin-top: 0;
	line-height: 1.5;
}

h1, .h1{font-size: 46px;}
h2, .h2{font-size: 40px;}
h3, .h3{font-size: 36px;}
h4, .h4{font-size: 30px;}
h5, .h5{font-size: 24px;}
h6, .h6{font-size: 18px;}

p{
    font-family: $font2;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 600;
    color: $dark1;
}

.btn{
    min-width: 160px;
    padding: 0 28px;
    font-family: $font;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    background: none;
    
    @media (max-width: 767px){
        min-width: auto;
    }
}

.btn-primary{
    background: $blue1;
    line-height: 3;
    color: #fff;
    border: none;
}

.btn-outline{
    line-height: 2.87;
    color: $dark1;
    border: 1px solid $dark1;
}

.btn{
    &:hover,&:focus{
        background: $dark1;
        color: #fff;
    }
}

.h6-broken{
    max-width: 445px;
}

.secpad{
    padding: 90px 0;
}

.section-title{
    margin: 0 0 20px;
    
    &.text-center{
        .h6-broken{
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.smoke-bg{
    background: $smoke;
}