.home-slider{
    .item{
        background: no-repeat scroll center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        @media (max-width: 767px){
            padding: 100px 0;
        }
        
        .h6-broken{
            margin-bottom: 20px;
        }
    }
    
    .owl-dots{
        display: table;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(50% - 585px);
        @media (max-width: 1199px){
            right: calc(50% - 485px);
        }
        @media (max-width: 991px){
            right: calc(50% - 375px);
        }
        @media (max-width: 767px){
            right: 5px;
        }
    }
    
    .owl-dot{
        width: 16px;
        height: 16px;
        border: 1px solid  $dark1;
        display: block;
        border-radius: 14px;
        @include transition;
        &+ .owl-dot{
            margin-top: 5px;
        }
        &.active{
//            background: $dark1;
            border-width: 8px;
        }
    }
}