// Fonts
$font: 'Montserrat', sans-serif;
$font2: 'Muli', sans-serif;

$blue1: #2da9e1;
$blue2: #57bae7;
$blue3: #81cbed;

$dark1: #212121;
$dark2: #686868;
$dark3: #a0a0a0;

$smoke: #f2f2f2;

// Transitions
@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Form Input Placeholder
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}